$font: monospace;


body {
  display: flex;
  flex-wrap: wrap;
  font-family: $font;

  table {
    border: solid grey 2px;
    border-spacing: 0;

    td {
      width: 40px;
      height: 40px;
    }
  }
}

.inputName {
  margin: 0 10px 10px 10px;

  input {
    max-width: 150px;
  }
}

.valDifficulty {
  margin: 0 10px;
}

.highScore {
  margin: 0 10px 10px 20px;
}
